<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="oppslagstjeneste-14-05_SOAP11Binding">
                    <security mode="Transport" />
                </binding>
                <binding name="oppslagstjeneste-14-05_SOAP11Binding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://kontaktinfo-ws.difi.no/kontaktinfo-external/ws-v3"
                binding="basicHttpBinding" bindingConfiguration="oppslagstjeneste-14-05_SOAP11Binding"
                contract="Difi.oppslagstjeneste1405" name="oppslagstjeneste" />
        </client>
    </system.serviceModel>
</configuration>